{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
<a href="/"><strong>Главная страница</strong></a><br>
{% if user.is_authenticated %}
    <a href="/profile"><strong>Профиль</strong></a>
    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <a href="/logout"><strong>Выйти</strong></a>
    </form>
{% else %}
    <a href="/login"><strong>Войти</strong></a> <br>
    <a href="/register"><strong>Регистрация</strong></a>
{% endif %}

<div class="content-text">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>